
.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.6;

}

video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}


.wrapper-video{
    overflow: hidden;
    height:80%;
}

.carousel-content h5 {
    color:#FFF;
    margin-left: -200px;
}


.btn.showit{

    /*background-color: #0EDC00;*/
    color: #fff;
    width: 190px;
height:35px;
margin-top:186px;
margin-left: -90px;

}




.mute{
    position: absolute;
    right: 32px;
    top: 32px;
    height: 18px;
    width: 18px;
}
}
